/* Contenedor principal del reloj */
.altimeter-box{
    position: relative;
    background-color: #312f2e;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.clock {
    position: relative;
    background-color: #1e201f;
    border: 8px solid black;
    border-radius: 50%;
    margin: 20px auto; /* Para centrar el reloj horizontalmente */
}

/* Contenedor de la cara del reloj */
.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Estilo para los números */
.number {
    display: block;
    position: absolute;
    font-size: 2.5rem;
    /* Posicionamos desde el centro */
    top: 50%;
    left: 50%;
    /* Aseguramos que el punto de transformación es el centro del número */
    transform-origin: center;
    /* Evitamos que el texto se rompa */
    white-space: nowrap;
    /* Añadimos un pequeño padding para mejor visibilidad */
    padding: 5px;
    /* Opcional: color y estilo del texto */
    color: white;
    font-weight: bold;
}

.number-gap{
    position: absolute;
    width: 2px;
    height: 5%;
    background-color: white;

    top: 50%;
    left: 50%;

    transform-origin: center;
}

.big{
   height: 8% !important; 
   width: 4px;
}

.clock-hand{
    position: absolute;
    width: 5px;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    z-index: 4;
    
}

.clock-body{
    background: linear-gradient(
    to bottom,
    white 37.5%,    /* primera mitad blanca */
    black 37.5%   /* segunda mitad negra */
    );
    position: absolute;
    width: 100%;
    height: 100%;

}

.clock-tip{
    position: absolute;
    width: 400%;
    height: 35%;
    background-color: white;


    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    clip-path: polygon(50% 7.5%, 100% 20%, 100% 80%, 50% 92.5%, 0% 80%, 0% 20%);
}

.clock-center{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock-altitude {
    position: absolute;
    top: 50%;
    left: 42%;
    width: 45%;
    height: 15%;


    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    z-index: 2;

}

.altitude-window {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 1%;
    border: white 5px solid;
}

.altitude-text {
    color: white;
    white-space: nowrap;
    text-align: center;
    max-width: 100%;
    font-size: 220%;
    font-weight: 500;
    letter-spacing: 0.4rem;

}

.clock-pneu{
    position: absolute;
    top: 32.5%;
    left: 32.5%;
    width: 20%;
    height: 8%;
    border: black 2px solid;
    border-radius: 0.3rem;
    padding: 2%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;
}


.pneu-window{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}
.pneu-text {
    font-weight: 400;
}

.elect-active {
    background-color: #010100;
    color: white;
}

.pneu-active {
    background-color: #ffc466;
    color: black;
}



.clock-calibration-altitude {
    position: absolute;
    top: 65%;
    left: 70%;
    border-radius: 0.3rem;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    z-index: 2;

}

.altitude-calibration-window {
    background-color: #010100;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.altitude-calibration-text {
    color: white;
    white-space: nowrap;
    text-align: center;
    max-width: 100%;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.15rem;

}


.altitude-calibration-label-text{
    color:white;
    font-weight: 500;
    font-size: 0.75rem;
}

.clock-altitude-text {
    color: white;
    white-space: nowrap;
    text-align: center;
    max-width: 100%;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.15rem;

}


.clock-altitude-label-text{
    color:white;
    font-weight: 500;
    font-size: 0.75rem;

}

.altimeter-calibration-box{
    position: absolute;
    top: 88.5%;
    left: 11.5%;
    width: 20%;
    height: 20%;


    transform: translate(-50%, -50%);
}

.altimeter-calibration-knob{
    width: 100%;
    height: 100%;

    border: 1px solid white;
    border-radius: 100%;

    transition: transform 0.2s ease;

    background-color: #010100;
}

.alimeter-calibration-tip{
    position: absolute;
    width: 10%;
    height: 90%;
    background: linear-gradient(
    to bottom,
    white 20%,    /* primera mitad blanca */
    black 20%   /* segunda mitad negra */
    );


    transform-origin: center;
    top: 50%;
    left: 50%;

    border-radius: 20% 20% 0% 0%;




    z-index: 4;
}

.izqda, .dcha {
    position: absolute;
    transform: translate(-0%, -50%);
}



.izqda{
    width: 50%;
    height: 200%;
    top: 50%;
    left: 0%;
    cursor: zoom-out;

    z-index: 5;

}

.dcha{
    width: 50%;
    height: 200%;
    cursor: zoom-in;

    top: 50%;
    left: 50%;
    z-index: 5;

}

.center {
    position: absolute;
    width: 35%;
    height: 35%;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    cursor: pointer;

    transform: translate(-50%, -50%);


    z-index: 9999;
}

.center:hover ~ .altimeter-calibration-knob {
    transform: scale(0.8); 
}

.izqda:hover ~ .altimeter-calibration-knob{
    transform: scale(1.1);
}
.dcha:hover ~ .altimeter-calibration-knob{
    transform: scale(1.1);
}


.altimeter-pneumatic-switch{
    position: absolute;
    width: 20%;
    height: 20%;

    top: 85%;
    left: 88.5%;

    transform: translate(-50%, -50%);

}

.altimeter-pneumatic-knob{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    z-index: 10;

}

.pneu-circle{
    position: absolute;
    width: 45%;
    height: 45%;

    border-radius: 100%;
    top: 50%;
    left: 50%;

    background-color: #010100;
    transform: translate(-50%, -50%);

    z-index: 8;
    border: 1px solid white;

}

.pneu-rectangle{
    position: absolute;
    width: 25%;
    height: 35%;
    top: 85.5%;
    left: 50%;

    border-left: 1px solid white;
    border-right: 1px solid white;

    background-color: #010100;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.pneu-small-circle{
    position: absolute;
    width: 25%;
    height: 25%;
    border-radius: 100%;
    top: 100%;
    left: 50%;
    border: 1px solid white;
    background-color: #010100;
    transform: translate(-50%, -50%);
     z-index: 8;
}

.altimeter-pneumatic-labels{
    position: absolute;
    width: 200%;
    height: 150%;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.pneumatic-label{
    position: absolute;
    height: 100%;
    width: 20%;
    cursor: pointer;


    left: 72.5%;
    top: 65%;

    transform: translate(-50%, -55%);
}

.electric-label{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70%;
    left: 3.5%;

    cursor: pointer;

}

.text-vertical, .text-regular{
    width:16px;
    color: white
}

.text-vertical {
    position: absolute;
    margin-top: 30%;

    word-wrap: break-word;
    text-align: center;
    line-height: 1.3rem;
}


.hitbox-elect{
    width: 100%;
    height: 200%;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    top:100%;

    z-index: 100;
    
}

.hitbox-pneu {
    width: 100%;
    height: 200%;
    cursor: pointer;
    position: absolute;
    transform: translate(50%, -50%);
    top:100%;

    z-index: 100;
    

}
